*{
    font-family: Segoe UI, sans-serif;
}

header {
  width: 100%;
  background: #22324D;
  color: white;
}

form {
  text-align: right;
  margin-right: 20px;
  margin-top: 10px;
}

nav {
  text-align: center;
  background: #FF88A8;
}

nav ul {
  list-style-type: none;
  margin-top: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
}

nav ul li {
  display: inline;
  text-align: center;
  font-size: 15px;
}

.lista_dcha{
  padding-right: 70px;
}

a{
  text-decoration: none;
  color: black;
}

#titulo{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

h1 {
  line-height: .35;
  font-size: 65px;
}

#descripcion {
  padding-top: 10px;
}

article{
  margin: 0 40px 0 40px;
  text-align: justify;
}

h2{
  font-size:35px;
}

span{
  font-weight: bold;
}

h2,h3{
  color: #22324D;
}

footer ul{
  text-align: center;
  background-color: black;
}
