/* ======================= GENERAL ======================= */

/**
 * La fuente principal de la web es Segoe UI, usando sans-serif en
 * ausencia de ésta.
 */

* {
  font-family: Segoe UI, sans-serif;
}

/**
 * Color de fondo de toda la página (se sobreescribe en cada elemento).
 */

body {
  background-color: rgb(51, 102, 255);
}

/**
 * Definimos una lista especial para los menús:
 * 1. La lista es un bloque.
 * 2. Los elementos de la lista no tienen "bullets".
 */

.menu-list {
  display: block;
  list-style-type: none;
  margin-top: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
}

/**
 * Elementos de las listas de menú se muestran en horizontal.
 */

.menu-list > li {
  display: inline;
  text-align: center;
}

/**
 * 1. Enlaces sin decoración.
 * 2. Color de los enlaces.
 */

a {
  text-decoration: none;
  color: black;
}

/* ======================= CABECERA ======================= */

/**
 * 1. Tamaño de la cabecera.
 * 2. Color del contenido de la cabecera.
 * 3. Color del fondo de la cabecera.
 */

header {
  width: 100%;
  background-color: #22324D;
  color: white;
}

/**
 * 1. Menú de navegación en el centro.
 * 2. Color del fondo del menú de navegación.
 */

#header-menu {
  text-align: center;
  background: #FF88A8;
}

/**
 * Tamaño y separación de las secciones del menú de navegación.
 */

#header-menu li {
  font-size: 15px;
  margin: 0 35px;
}

/**
 * El formulario de inicio de sesión está a la derecha en la cabecera.
 */

#header-form {
  text-align: right;
  margin-right: 20px;
  margin-top: 10px;
}

/**
 * Título (incluída descripción) ubicado en el centro de la cabecera.
 */

#header-title {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

/**
 * Tamaño del título de la cabecera.
 */

#header-title > h1 {
  line-height: .35;
  font-size: 65px;
}

/**
 * Formato de la descripción de la cabecera.
 */

#header-title > p {
  padding-top: 10px;
}

/* ======================= CONTENIDO ======================= */

/**
 * 1. El contenido es un bloque centrado de tamaño fijo.
 * 2. Color del fondo del contenido.
 */

#content {
  width: 1000px;
  display: block;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

/**
 * 1. Márgenes del artículo del contenido.
 * 2. Justificación del texto del artículo.
 */

.content-text {
  margin: 0 40px 0 40px;
  text-align: justify;
}

/**
 * Tamaño de los h2 dentro del contenido.
 */

.content-text h2 {
  font-size:35px;
}

/**
 * Color de los títulos del contenido.
 */

.content-text h2,
.content-text h3 {
  color: #22324D;
}

/* ======================= PIE DE PÁGINA ======================= */

/**
 * 1. El pie ocupa toda la franja inferior.
 * 2. Color del fondo del pie.
 */

footer {
  width: 100%;
  height: 80px;
  background-color: #22324D;
}

/**
 * La lista de menú del pie de página está centrado.
 */

footer .menu-list {
  float: right;
  margin-top: 20px;
  margin-bottom: 0;
}

/**
 * Separación de los elementos de la lista de rrss.
 */

footer li {
  margin: 0 15px;
}

/**
 * Tamaño de los logos de la lista de rrss.
 */

.menu-list img {
  width: 40px;
  height: 40px;
}
